<%= link_to "Back", students_index_path %>
<h1>Student Data</h1>
<div>
	<b>First Name</b>
	<%= @student.first_name %>
</div>
<div>
	<b>Last Name</b>
	<%= @student.last_name %>
</div>
<div>
	<b>Gender</b>
	<%= @student.gender %>
</div>